.clearbutton {
    display: flex;
    height: 4em;
    flex: 1;
    background-color: #c5c3cd;
    outline: 1px solid #888;
    color: rgb(0, 0, 0);
    justify-content: center;
    font-weight: lighter;
    font-size: 1.4em;
    align-items: center;
}